{% extends 'base.html' %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}


    <div class="detail-kontejner">

        <div class="detail-top">
            <div class="detail-slika">
                <img src="{{ object.image.url }}" alt="slika">
            </div>
            <div class="detail-info">
                <h1 class="detail-naslov">{{ object.title }}</h1>
                
                <div class="detail-god">
                    <p class="godina">{{ object.godina }}</p>
                    <p class="zanr">{{ object.tags.all|join:" / " }}</p>
                    
                </div>
                <div class="detail-preuzmi">
                    <a href="{{ object.link_za_preuzimanje }}" class="btn btn-warning mt-1">Preuzmi</a>
{#                    <a href="{% url 'domaci_filmovi:video' object.slug %}" class="btn btn-info mt-1">Gledaj online</a>#}
                    <a href="{{ object.link_za_gledanje }}" class="btn btn-info mt-1" target="_blank">Gledaj online</a>
                </div>
            </div>

        </div>
            

        <div class="detail-sadrzaj">
            <h3>Sadrzaj:</h3>
            <div class="detail-tekst">
                <p>
                    {{ object.description | safe }}
                </p>
            </div>
        </div>

    </div>

    
{% endblock %}

{#https://yyrxh-my.sharepoint.com/:v:/g/personal/andrej_yyrxh_onmicrosoft_com/EU4j_dc5IeNPpDqet1-8_pkB3PuuX4EYkruyDnFfaM_4IQ?nav=eyJyZWZlcnJhbEluZm8iOnsicmVmZXJyYWxBcHAiOiJPbmVEcml2ZUZvckJ1c2luZXNzIiwicmVmZXJyYWxBcHBQbGF0Zm9ybSI6IldlYiIsInJlZmVycmFsTW9kZSI6InZpZXciLCJyZWZlcnJhbFZpZXciOiJNeUZpbGVzTGlua0NvcHkifX0&e=3HSSFl#}